html {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
* {
  box-sizing: border-box;
}
 *, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* CSS to style the badge */
.badge {
  position: relative;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 15px;
}


#navbar {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ff6e00;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;

}

#top-section {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1%;
  
}

#bottom-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding:1%;
}

#profile-icon {
  width: 45px;
  height: 45px;
  margin: auto;
}



#nav-anchor {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  font-size: 3vw;
  flex-grow: 1;
}

#profile-icon {
  margin-left: auto;
  margin-right: auto;
}

#navbar button {
  background-color: #4CAF50;
  font-size: 10px;
  min-width: fit-content;
  max-width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 7px;

}

#container {
  max-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 40px;
  margin-top: 110px;
  margin-right: 10px;
  margin-left: 10px;
}


#logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
}


@media (min-width: 768px) {

  #container {
    margin-bottom: 65px;
    margin-top: 110px;
  }

  #navbar {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ff6e00;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    max-height: 10%;

    
    
  }

  #top-section {
    width: 49%;
    
  }


  #nav-anchor {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    font-size: 1vw;
  }
  
  #navbar button {
    background-color: #4CAF50;
    min-width: fit-content;
    max-width: 150px;
    height: auto;
    max-height: fit-content;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
    margin-right: 1%;
  
  }
  

  #profile-icon {
    width: 40px;
    height: 40px;
  }
  

  #logo {
    width: 50px;
    height: auto;
    border-radius: 10px;
    margin-right: 3%;
    max-width: fit-content;
  }

  footer {
    font-size: 1vw;

  }

}