/* CSS for product item container */
.product-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color:#ccc;
}

/* CSS for product details */
.product-details {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add spacing between product details and action buttons */
    text-align: center; /* Center text */
}

/* CSS for action buttons */
.action-buttons {
    display: flex;
    align-items: center;
}

/* CSS for cart update form */
#upcart {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 90px;
}

#upform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upform input[type="number"] {
    width: 50px;
    padding: 5px;
    margin: 10px;
}

#upform button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#upform button:hover {
    background-color: #0056b3;
}


#cart-container {
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-items: center;
   padding: 4px;
}

 .product-details {
    width: 75%;
    text-align: left;
} 

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 20%;
}

.action-buttons button{
    margin: 10px;
}


.delete {
    width: 80px;

}

.info {
    width: 80px;
    background-color:  #4CAF50;
}

.checkout {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.goto-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Media query for responsiveness on medium and large screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .product-item {
        width: 50%; /* Set width to 50% on medium and large screens */
    }
    
    .product-details {
        margin-right: 0; /* Remove margin on small devices */
    }

    #upform input[type="number"] {
        width: 40px; /* Adjust width of number input for small devices */
    }
}

/* Media query for small devices */
@media (max-width: 767px) {
    .product-item {
        width: 100%; /* Set width to 100% on small devices */
    }

    .product-details h3 {
        flex-grow: 1;
        font-size: 4vw;
    }

    .product-details h5 {
        flex-grow: 1;
        font-size: 3vw;
    }
}

/* Media query for extra large screens */
@media (min-width: 1200px) {
    .product-item {
        width: 50%; /* Set width to 50% on extra large screens */
    }
}
