* {
  box-sizing: border-box;
}

html {
    font-size: 12px;
}

h1 {
  font-size: 8vw;
  padding-top: 10px;
}

body {
  margin: 0;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5;
}

#product-card {
    background-color:#ccc;
    flex-grow: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    margin: 5px;
    width: 45%;
  }

  #product-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  #product-card,h3,p {
    
    font-size: 2vw;
  }

 .orderbtn {
    background-color: #4CAF50;
    font-size: 3vw;
    width: 80%;
    height: 20%;
    min-width: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
    color: white;
    margin: 5%;
  }

  .add-tocart-btn {
    background-color: #4CAF50;
    font-size: 1vw;
    width: 80%;
    height: 20%;
    min-width: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 0;
    color: white;
    margin: 5%;
    height: 50px;
  }

#banner {
    width: 100%;
}

  @media (min-width: 768px) {

    #main-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
      gap: 20px;
    }

    .orderbtn {
      width: 30%;
      font-size: 1rem;
      min-width: fit-content;
      
    }

    #product-card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      background-color:#ccc;

    }


  #product-image {
      width: 1000px;
      object-fit: cover;
    }

    #product-card,h3,p,button {
      font-size: 1rem;
    }

    h1 {
      font-size: 3vw;
    }


  }
